Package: citrun-doc
Source: citrun
Version: 0-1
Architecture: all
Maintainer: Kyle Milz <kyle@0x30.net>
Installed-Size: 26
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: documentation for citrun
 <insert long description, indented with spaces>
