/* This is necessary IMHO. */
p  { line-height: 1.5em; }
li { line-height: 1.5em; }

/* Booorriing. 80 char width monospace.  */
body {
	max-width: 80ch;
	margin: auto;
	font-size: 1.142em ;
	font-family: monospace;
}

/* For "prompt" style stuff */
.prompt {
	color: green;
}

/* This is for the link bar just below the main title.  */
.link_bar {
	text-align: right;
}

/* Logos next to text need to be the same size as the text. */
.inline_logo {
	height: 1em;
}
