/* This is necessary IMHO. */
p  { line-height: 1.5em; }
li { line-height: 1.5em; }

/* Booorriing. 80 char width monospace.  */
body {
	max-width: 80ch;
	margin: auto;
	font-size: 1.142em ;
	font-family: monospace;
}

.link_bar {
	float: right;
}

.inline_logo {
	/* Logos next to text need to be the same size as the text. */
	height: 1em;
}

h2 {
	font-weight: normal;
}
