/*
 * This was recommended to me once on a website somewhere. It stuck.
 */
p  { line-height: 1.5em; }
li { line-height: 1.5em; }

/*
 * Make it about 80 chars width max.
 */
body {
	max-width: 80ch;
	margin: auto;
	font-family: monospace;
}

/*
 * For "prompt" style stuff
 */
pre {
	background-color: ivory;
}

.prompt {
	color: green;
}

/*
 * This is the link bar just below the main title.
 * Looks good over on the right.
 */
.link_bar {
	text-align: right;
}

/*
 * Logos displayed next to package download links need to be the same height as
 * the text.
 */
.inline_logo {
	height: 1em;
}
