Package: citrun
Version: 0-1
Architecture: amd64
Maintainer: Kyle Milz <kyle@0x30.net>
Installed-Size: 26
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
